os
signal
telebot
json
requests
logging
time
pymongo
stripe
datetime
certifi
random
threading
asyncio
aiohttp
pytz
psutil
telebot==4.9.0
requests==2.31.0
pymongo==4.5.0
certifi==2023.5.7
aiohttp==3.8.4
pytz==2023.3
psutil==5.9.5

